node_modules/
dist/
coverage/
storybook-static/
.DS_Store
.env
.env.local
*.log
*.tgz
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
.cache/
.eslintcache
.vercel/
.wrangler/
*.swp
*.swo

./build/

demo/node_modules/
demo/dist/
demo/.DS_Store
demo/.env
demo/.env.local
demo/*.log
